.table {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 100px;
  vertical-align: baseline;
  font-weight: 500;
  text-align: center !important;
}

.flex-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
}
